html {
    box-sizing: border-box;
    font-size: 62.5%;
    /*1 rem = a 10px*/
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*Global*/

body {
    font-size: 1.6rem;
    line-height: 2;
}


h1,
h2,
h3 {

    margin: 0 0 5rem 0;
    font-family: "Playfair", serif;

}


h1 {
    font-size: 5rem;
    color: #fff;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

a {
    text-decoration: none;
    color: #000;
}


img {
    /*Esto sirve para la imagen ya que le dice que solo tome el 100% del div o contenedor en el que se encuentra*/
    max-width: 100%;

    /*Cubre todo el ancho con el max-whit pero le falta en altura asi que eso se arregla con display block*/
    display: block;
}


.btn {
    background-color: #8cbc00;
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
    padding: 1rem;
    transition: background-color .3s ease;
    text-align: center;
    border: none;
}

.btn:hover {
    background-color: #769c02;
    cursor: pointer;
}

/**Utilidades**/

.text-center {
    text-align: center;
}


.container {
    max-width: 120rem;
    margin: 0 auto;
}


.text-margin-top {
    margin-top: 5rem;
}

.text-margin-bottom {
    margin-bottom: 5rem;
}

.main-header {
    background-color: #041f4a;
    padding: 1rem;
    color: #fff;
    text-align: center;
}